{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div>
        <form method="post">
            <input type="text" name="message" id="message">
            <input type="submit" name="submit" value="Transform message">
        </form>
    </div>

    <div>
        <p>{{ transformed_string }}</p>
    </div>

{% endblock %}
